/.gocache/
/.gomodcache/
/.docker-config/
/.bin/
/.bun-cache/
/node_modules/
/.ui-test/
/playwright-report/
/test-results/
/.bash_profile
/.bashrc
/.claude/
/.pi/
/.gitconfig
/.gitmodules
/.idea
/.mcp.json
/.profile
/.ripgreprc
/.vscode
/.zprofile
/.zshrc
/data/
*.db
*.db-shm
*.db-wal
